.idea/*
.pytest_cache/*
__pychache__/*
/bin/
/build/
/dist/

/docs/_build/
/doc_source/
/docs/make.bat
/docs/Makefile

/src/bachscanner_siklu.egg-info/
/src/batchscanner/__main__.spec

/output
/ssh_logs

/batchscanner-x64.spec
/process_tips.txt

