.pytest_cache/*
/bin/
/build/
/dist/
/.idea/

/docs/_build/
/docs/make.bat
/docs/Makefile

/src/bachscanner_siklu.egg-info/
/src/batchscanner/__main__.spec
/src/batchscanner/__pycache__/
/src/batchscanner/parsers/__pycache__/
/src/batchscanner/ssh_logs/

/output
/ssh_logs

/batchscanner-x64.spec
/process_tips.txt

